/* General body styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
}

/* Table styles */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

thead {
  background-color: #f9f9f9;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  height: 40px;
  color: #555;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Form styling */
form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 22px); /* Adjust width to allow for padding */
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button:hover {
  background-color: #45a049;
}

/* Search input styling */
input[type="text"].search {
  float: right;
  margin-top: 0;
  width: auto;
  min-width: 250px;
}

/* Clear floats */
.form-group::after {
  content: "";
  clear: both;
  display: table;
}
